[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "regress3d"]
	path = regress3d
	url = https://github.com/ellafostermolina/regress3d
